<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.gliwa.com/ot1/download/OT1.xsd"
            class="org.eclipse.app4mc.tracing.converter.ot1.OT1.OT1Package"
            genModel="model/OT1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xml"
            class="org.eclipse.app4mc.tracing.converter.ot1.OT1.util.OT1ResourceFactoryImpl"/>
      <parser
            class="org.eclipse.app4mc.tracing.converter.ot1.OT1.util.OT1ResourceFactoryImpl"
            type="ot1">
      </parser>
   </extension>

</plugin>
