<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.itea2.amalthea.model.converter.models.command.modelmigration.dialog.cmd"
               id="org.eclipse.app4mc.amalthea.modelmigration.menuitem"
               label="AMALTHEA Model Migration"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <or>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-sw">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-hw">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-mapping">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-os">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-components">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-stimuli">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-propertyconstraints">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-events">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-constraints">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="amxmi-config">
                        </test>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.app4mc.amalthea.converters.ui.handlers.AmaltheaModelMigrationHandler"
            commandId="org.itea2.amalthea.model.converter.models.command.modelmigration.dialog.cmd">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.itea2.amalthea.model.converter.models.command.modelmigration.dialog.cmd"
            name="Amalthea Model Migration">
      </command>
   </extension>

</plugin>
