<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.help.toc">

      <toc
            file="root-data_models-toc.xml"
            primary="false">
      </toc>
         
      <toc	file="toc/model_introduction-toc.xml"			primary="false"> </toc>
      <toc	file="toc/model_basics-toc.xml"					primary="false"> </toc>
      <toc	file="toc/model_common-toc.xml"					primary="false"> </toc>
      <toc	file="toc/model_components-toc.xml"				primary="false"> </toc>
      <toc	file="toc/model_config-toc.xml"					primary="false"> </toc>
      <toc	file="toc/model_constraints-toc.xml"			primary="false"> </toc>
      <toc	file="toc/model_events-toc.xml"					primary="false"> </toc>
      <toc	file="toc/model_hw-toc.xml"						primary="false"> </toc>
      <toc	file="toc/model_mapping-toc.xml"				primary="false"> </toc>
      <toc	file="toc/model_measurement-toc.xml"			primary="false"> </toc>
      <toc	file="toc/model_os-toc.xml"						primary="false"> </toc>
      <toc	file="toc/model_propertyconstraints-toc.xml"	primary="false"> </toc>
      <toc	file="toc/model_stimuli-toc.xml"				primary="false"> </toc>
      <toc	file="toc/model_sw-toc.xml"						primary="false"> </toc>

      <toc
            file="root-user_concepts-toc.xml"
            primary="false">
      </toc>

      <toc	file="toc/user_hw-toc.xml"						primary="false"> </toc>
      <toc	file="toc/user_sw_develop-toc.xml"				primary="false"> </toc>
      <toc	file="toc/user_sw_runtime-toc.xml"				primary="false"> </toc>
      <toc	file="toc/user_concepts-toc.xml"				primary="false"> </toc>
      <toc	file="toc/user_scheduling-toc.xml"				primary="false"> </toc>
      <toc	file="toc/user_channel-toc.xml"					primary="false"> </toc>
      <toc	file="toc/user_datadependency-toc.xml"			primary="false"> </toc>
      <toc	file="toc/user_memorysection-toc.xml"			primary="false"> </toc>

      <toc
            file="root-dev_model_utils-toc.xml"
            primary="false">
      </toc>

      <toc	file="toc/dev_model_util-toc.xml"				primary="false"> </toc>
      <toc	file="toc/dev_model_util_base-toc.xml"			primary="false"> </toc>
      <toc	file="toc/dev_model_util_common-toc.xml"		primary="false"> </toc>
      <toc	file="toc/dev_model_util_software-toc.xml"		primary="false"> </toc>
      <toc	file="toc/dev_model_util_runtime-toc.xml"		primary="false"> </toc>
      <toc	file="toc/dev_model_util_deployment-toc.xml"	primary="false"> </toc>
      <toc	file="toc/dev_model_util_hardware-toc.xml"		primary="false"> </toc>

      <toc
            file="root-dev_misc-toc.xml"
            primary="false">
      </toc>

      <toc	file="toc/dev_model_xsd-toc.xml"				primary="false"> </toc>
      <toc	file="toc/dev_model_details-toc.xml"			primary="false"> </toc>

   </extension>

</plugin>
