<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters">
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.NamespaceConverter"
            enabled="true"
            id="converters.072.namespace"
            input-model-version="0.7.1"
            name="namespace"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.RootElementConverter"
            enabled="true"
            id="converters.072.rootelement"
            input-model-version="0.7.1"
            name="Root Element Converter"
            output-model-version="0.7.2">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.PropertyConstraintsConverter"
            enabled="true"
            id="converters.072.propertyconstraints"
            input-model-version="0.7.1"
            name="PropertyConstraints Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.ConstraintsConverter"
            enabled="true"
            id="converters.072.constraints"
            input-model-version="0.7.1"
            name="Constraints Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.OSConverter"
            enabled="true"
            id="converters.072.Os"
            input-model-version="0.7.1"
            name="Os Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.SwConverter"
            enabled="true"
            id="converters.072.Sw"
            input-model-version="0.7.1"
            name="Sw Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
         <dependent-on-converter
               id="converters.072.Os">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.StimuliConverter"
            enabled="true"
            id="converters.072.Stimuli"
            input-model-version="0.7.1"
            name="Stimuli Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.CommonElementsConverter"
            enabled="true"
            id="converters.072.CommonElements"
            input-model-version="0.7.1"
            name="CommonElements Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters072.impl.ConfigConverter"
            enabled="true"
            id="converters.072.Config"
            input-model-version="0.7.1"
            name="Config Converter"
            output-model-version="0.7.2">
         <dependent-on-converter
               id="converters.072.rootelement">
         </dependent-on-converter>
      </converter>
   </extension>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters.cachebuilders">
      <CacheBuilder
            ID="org.eclipse.app4mc.amalthea.converters.072.HwElementsCacheBuilder"
            class="org.eclipse.app4mc.amalthea.converters072.utils.HwElementsCacheBuilder"
            enabled="true"
            input-model-version="0.7.1"
            name="HwElementsCacheBuilder">
      </CacheBuilder>
   </extension>

</plugin>
