<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters">
     
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters094.impl.NamespaceConverter"
            enabled="true"
            id="converters.094.namespace"
            input-model-version="0.9.3"
            name="namespace converter"
            output-model-version="0.9.4">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters094.impl.SwConverter"
            enabled="true"
            id="converters.094.software"
            input-model-version="0.9.3"
            name="software converter"
            output-model-version="0.9.4">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters094.impl.HwConverter"
            enabled="true"
            id="converters.094.hardware"
            input-model-version="0.9.3"
            name="hardware converter"
            output-model-version="0.9.4">
      </converter>
      
   </extension>

</plugin>
