<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="AMALTHEA Common Sphinx Validator"
         point="org.eclipse.sphinx.emf.check.checkvalidators">
      <validator
            catalog="catalog/Amalthea.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.checks.BasicCheckValidator">
      </validator>
      <validator
            catalog="catalog/Amalthea.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.checks.ConstraintsModelCheckValidator">
      </validator>
      <validator
            catalog="catalog/Amalthea.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.checks.EventModelCheckValidator">
      </validator>
      <validator
            catalog="catalog/Amalthea.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.checks.HardwareModelCheckValidator">
      </validator>
      <validator
            catalog="catalog/Amalthea.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.checks.MappingModelCheckValidator">
      </validator>
      <validator
            catalog="catalog/TA.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.ta.checks.HWModelValidator">
      </validator>
      <validator
            catalog="catalog/TA.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.ta.checks.StimuliModelValidator">
      </validator>
      <validator
            catalog="catalog/TA.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.ta.checks.SWModelValidator">
      </validator>
      <validator
            catalog="catalog/TA.checkcatalog"
            class="org.eclipse.app4mc.amalthea.validation.ta.checks.ConstraintsModelValidator">
      </validator>
   </extension>
</plugin>
