<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.app4mc.amalthea.sphinx.ui.editors.editor.ExtendedBasicTransactionalFormEditor"
            contributorClass="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalEditorActionBarContributor"
            default="false"
            extensions="AMALTHEA, ComponentsModel, ConfigModel, ConstraintsModel, EventModel, MappingModel, HWModel, OSModel, SWModel, StimuliModel, PropertyConstraintsModel, Runnable, Task, Label"
            icon="icons/full/obj16/AMALTHEA.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.editor"
            name="APP4MC AMALTHEA Model Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.app4mc.amalthea.xmi.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/full/obj16/AmaltheaModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.amalthea"
            label="AMALTHEA Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/ComponentsModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.components"
            label="AMALTHEA Components Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.components">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/ConfigModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.config"
            label="AMALTHEA Configuration Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.config">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/ConstraintsModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.constraints"
            label="AMALTHEA Constraints Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.constraints">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/EventModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.events"
            label="AMALTHEA Events Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.events">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/HWModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.hw"
            label="AMALTHEA Hardware Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.hw">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/MappingModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.mapping"
            label="AMALTHEA Mapping Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.mapping">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/OSModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.os"
            label="AMALTHEA Operating System Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.os">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/PropertyConstraintsModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.propertyconstraints"
            label="AMALTHEA Property Constraints Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.propertyconstraints">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            icon="icons/full/obj16/Stimulation.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.stimuli"
            label="AMALTHEA Stimuli Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.stimuli">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/full/obj16/SWModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.decorator.sw"
            label="AMALTHEA Software Model"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="contentTypeId"
                     value="org.eclipse.app4mc.amalthea.xmi.contentType.sw">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.app4mc.amalthea.sphinx.ui.editors.providers.ExtendedExplorerContentProvider"
            icon="icons/full/obj16/AMALTHEA.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.ui.navigatorcontent"
            labelProvider="org.eclipse.app4mc.amalthea.sphinx.ui.editors.providers.ExtendedExplorerLabelProvider"
            name="Amalthea Central Model">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.isInScope"
                     value="true">
               </test>
                  <test
                        property="org.eclipse.sphinx.emf.metaModelIdMatches"
                        value="org\.eclipse\.app4mc\.amalthea\.model">
                  </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <or>
                  <test
                        property="org.eclipse.sphinx.emf.classNameMatches"
                        value="org\.eclipse\.app4mc\.amalthea\.model\..*">
                  </test>
               </or>
            </and>
         </possibleChildren>
         <dropAssistant
               class="org.eclipse.sphinx.emf.explorer.BasicDropAdapterAssistant"
               id="org.eclipse.app4mc.amalthea.sphinx.ui.dropAssistant">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonWizard
            type="new"
            wizardId="org.eclipse.app4mc.amalthea.sphinx.wizards.centralModelFile">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof></enablement>
      </commonWizard>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.app4mc.platform.ide.views.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org\.eclipse\.app4mc\.amalthea\.sphinx\.ui\.navigatorcontent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org\.eclipse\.app4mc\.amalthea\.sphinx\.ui\.navigatorcontent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.app4mc.amalthea.sphinx.wizards.category"
            name="%org.eclipse.app4mc.amalthea.sphinx.wizards.name">
      </category>
      <wizard
            category="org.eclipse.app4mc.amalthea.sphinx.wizards.category"
            class="org.eclipse.app4mc.amalthea.sphinx.ui.editors.wizards.AmaltheaModelCreationWizard"
            finalPerspective="org.eclipse.app4mc.platform.ide.perspective" 
            hasPages="true"
            icon="icons/full/obj16/AmaltheaModel.gif"
            id="org.eclipse.app4mc.amalthea.sphinx.wizards.centralModelFile"
            name="%org.eclipse.app4mc.amalthea.sphinx.wizards.centralModelFile"
            preferredPerspectives="org.eclipse.app4mc.platform.ide.perspective"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.app4mc.amalthea.sphinx.ui.editor"
            labelProvider="org.eclipse.sphinx.emf.ui.properties.BasicTabbedPropertySheetTitleProvider">
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.app4mc.amalthea.sphinx.ui.editor">
         <propertyTab
               category="advanced"
               id="org.eclipse.app4mc.amalthea.sphinx.ui.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.app4mc.amalthea.sphinx.ui.editor">
         <propertySection
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.app4mc.amalthea.sphinx.ui.propertySection.advanced"
               tab="org.eclipse.app4mc.amalthea.sphinx.ui.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="org.eclipse.app4mc.amalthea.search.results"
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.app4mc.amalthea.sphinx.ui.editors.search.ModelSearchResultView"
            id="org.eclipse.app4mc.amalthea.search.ModelSearchResultsView"
            searchResultClass="org.eclipse.app4mc.amalthea.sphinx.ui.editors.search.ModelSearchResult">
      </viewPage>
   </extension>

</plugin>
