<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.app4mc.amalthea.examples.DemocarExamplesWizard"
            name="%_UI_AMALTHEA_DemocarExamplesWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.app4mc.amalthea.Examples"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_AMALTHEA_DemocarExamplesWizard_desc</description>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
      <example
            id="org.eclipse.app4mc.amalthea.examples.Examples"
            wizardID="org.eclipse.app4mc.amalthea.examples.DemocarExamplesWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
        <!-- bug#22 <projectDescriptor
               name="org.eclipse.app4mc.amalthea.example.democar.autosar"
               contentURI="examples/org.eclipse.app4mc.amalthea.example.democar.autosar/"
               description="%_UI_AMALTHEA_Example_Democar_Autosar_Project_desc"/> -->
               <projectDescriptor
               name="org.eclipse.app4mc.amalthea.example.democar"
               contentURI="examples/org.eclipse.app4mc.amalthea.example.democar/"
               description="%_UI_AMALTHEA_Example_Democar_Project_desc"/>
               <projectDescriptor
                     contentURI="examples/org.eclipse.app4mc.amalthea.example.democar.mapping/"
                     description="%_UI_AMALTHEA_Example_Democar_Project_desc"
                     name="org.eclipse.app4mc.amalthea.example.democar.mapping">
               </projectDescriptor>
               <projectDescriptor
                     contentURI="examples/org.eclipse.app4mc.amalthea.example.democar.split/"
                     description="%_UI_AMALTHEA_Example_Democar_Project_desc"
                     name="org.eclipse.app4mc.amalthea.example.democar.split">
               </projectDescriptor>
      </example>
      
      
    </extension>
</plugin>
