<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.app4mc.tools.examples.MappingExamplesWizard"
            name="%_UI_Tools_MappingExamplesWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.app4mc.tools.Examples"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_Tools_MappingExamplesWizard_desc</description>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
      <example
            id="APP4MC Mapping Projects"
            wizardID="org.eclipse.app4mc.tools.examples.MappingExamplesWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
               <projectDescriptor
                     contentURI="examples/app4mc.example.tool.mapping/"
                     description="%_UI_Tools_Example_Mapping_Project_desc"
                     name="app4mc.example.tool.mapping">
                     contentURI="examples/org.eclipse.app4mc.amalthea.example.democar.mapping/"
                     description="%_UI_AMALTHEA_Example_Democar_Project_desc"
               </projectDescriptor>
      </example>
      
      
    </extension>
</plugin>
