<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.validation.profile">
      <validationProfile
            class="org.eclipse.app4mc.amalthea.validation.profile.AmaltheaProfile"
            id="org.eclipse.app4mc.amalthea.validations.standard">
      </validationProfile>
   </extension>
 
</plugin>
