<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters">
     
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.RootElementConverter"
            enabled="true"
            id="converters.093.rootElement"
            input-model-version="0.9.2"
            name="rootElement"
            output-model-version="0.9.3">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.NamespaceConverter"
            enabled="true"
            id="converters.093.namespace"
            input-model-version="0.9.2"
            name="namespace"
            output-model-version="0.9.3">
         <dependent-on-converter
               id="converters.093.rootElement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.SwConverter"
            enabled="true"
            id="converters.093.swconverter"
            input-model-version="0.9.2"
            name="org.eclipse.app4mc.amalthea.converters.093.swConverter"
            output-model-version="0.9.3">
         <dependent-on-converter
               id="converters.093.rootElement">
         </dependent-on-converter>
      </converter>
      
          <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.OsConverter"
            enabled="true"
            id="converters.093.osconverter"
            input-model-version="0.9.2"
            name="org.eclipse.app4mc.amalthea.converters.093.osConverter"
            output-model-version="0.9.3">
         <dependent-on-converter
               id="converters.093.rootElement">
         </dependent-on-converter>
      </converter>
      
         <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.HwConverter"
            enabled="true"
            id="converters.093.hwconverter"
            input-model-version="0.9.2"
            name="org.eclipse.app4mc.amalthea.converters.093.hwConverter"
            output-model-version="0.9.3">
         <dependent-on-converter
               id="converters.093.rootElement">
         </dependent-on-converter>
      </converter>
      
        <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.StimulusConverter"
            enabled="true"
            id="converters.093.stimulusconverter"
            input-model-version="0.9.2"
            name="org.eclipse.app4mc.amalthea.converters.093.stimulusConverter"
            output-model-version="0.9.3">
         <dependent-on-converter
               id="converters.093.rootElement">
         </dependent-on-converter>
      </converter>
      
              <converter
            converter-class="org.eclipse.app4mc.amalthea.converters093.impl.MeasurementConverter"
            enabled="true"
            id="converters.093.measurementconverter"
            input-model-version="0.9.2"
            name="org.eclipse.app4mc.amalthea.converters.093.measurementConverter"
            output-model-version="0.9.3">
         <dependent-on-converter
               id="converters.093.rootElement">
         </dependent-on-converter>
      </converter>
      
   </extension>

</plugin>
