<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters">
     
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters095.impl.NamespaceConverter"
            enabled="true"
            id="converters.095.namespace"
            input-model-version="0.9.4"
            name="namespace converter"
            output-model-version="0.9.5">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters095.impl.SwConverter"
            enabled="true"
            id="converters.095.software"
            input-model-version="0.9.4"
            name="software converter"
            output-model-version="0.9.5">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters095.impl.StimuliConverter"
            enabled="true"
            id="converters.095.stimuli"
            input-model-version="0.9.4"
            name="stimuli converter"
            output-model-version="0.9.5">
      </converter>
   </extension>

</plugin>
