<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 Dortmund University of Applied Sciences and Arts and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
     
    Contributors:
       Dortmund University of Applied Sciences and Arts - initial API and implementation
 -->

<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TraceEditor"
            extensions="btf"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.app4mc.multicore.execution.ui.traceeditor.TraceEditor"
            id="org.eclipse.app4mc.amalthea.traceeditor.view.TraceEditor">
      </editor>
   </extension>

</plugin>
