<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.app4mc.multicore.openmapping.commands.category"
            name="Category">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.app4mc.multicore.openmapping.commands.category"
            name="Category">
      </category>
      <command
            id="org.eclipse.app4mc.multicore.openmapping.commands.generateTasks"
            name="Generate Tasks">
      </command>
      <command
            id="org.eclipse.app4mc.multicore.openmapping.commands.performMapping"
            name="Perform Mapping">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.app4mc.multicore.openmapping.OMPreferenceInitializer">
      </initializer>
   </extension>   
     

</plugin>
