<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
        <view id="org.eclipse.app4mc.multicore.sharelibs.modelchecker.views.ModelCheckerView"
             name="Model Checker"
          class="org.eclipse.app4mc.multicore.sharelibs.modelchecker.logger.LogView"
          icon="icons/full/obj16/problems_view.png"/>
	</extension>
</plugin>
