<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters">
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters081.impl.NamespaceConverter"
            enabled="true"
            id="converters.081.namespace"
            input-model-version="0.8.0"
            name="namespace"
            output-model-version="0.8.1">
         <dependent-on-converter
               id="converters.081.rootElement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters081.impl.RootElementConverter"
            enabled="true"
            id="converters.081.rootElement"
            input-model-version="0.8.0"
            name="rootElement"
            output-model-version="0.8.1">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters081.impl.ConstraintsConverter"
            enabled="true"
            id="converters.081.constraints"
            input-model-version="0.8.0"
            name="constraints"
            output-model-version="0.8.1">
         <dependent-on-converter
               id="converters.081.rootElement">
         </dependent-on-converter>
      </converter>
   </extension>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters.cachebuilders">
      <CacheBuilder
            ID="org.eclipse.app4mc.amalthea.converters.081.ConstraintElementsCacheBuilder"
            class="org.eclipse.app4mc.amalthea.converters081.utils.ConstraintElementsCacheBuilder"
            enabled="true"
            input-model-version="0.8.0"
            name="ConstraintElementsCacheBuilder">
      </CacheBuilder>
   </extension>

</plugin>
