<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.app4mc.amalthea.model.converters" name="model.converters" schema="schema/org.eclipse.app4mc.amalthea.converters.exsd"/>
   <extension-point id="org.eclipse.app4mc.amalthea.model.converters.cachebuilders" name="model.converters.cache" schema="schema/org.eclipse.app4mc.amalthea.model.converters.cachebuilders.exsd"/>
   <extension-point id="org.eclipse.app4mc.amalthea.model.converters.formatter" name="model.converters.formatter" schema="schema/org.eclipse.app4mc.amalthea.model.converters.formatter.exsd"/>
   <extension-point id="org.eclipse.app4mc.amalthea.model.converters.preprocessor" name="model.converters.preprocessor" schema="schema/org.eclipse.app4mc.amalthea.model.converters.preprocessor.exsd"/>
   <extension-point id="org.eclipse.app4mc.amalthea.model.converters.postprocessor" name="model.converters.postprocessor" schema="schema/org.eclipse.app4mc.amalthea.model.converters.postprocessor.exsd"/>

</plugin>
