<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.app4mc.amalthea.model.converters">
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters080.impl.NamespaceConverter"
            enabled="true"
            id="converters.080.namespace"
            input-model-version="0.7.2"
            name="namespace"
            output-model-version="0.8.0">
         <dependent-on-converter
               id="converters.080.rootElement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters080.impl.RootElementConverter"
            enabled="true"
            id="converters.080.rootElement"
            input-model-version="0.7.2"
            name="rootElement"
            output-model-version="0.8.0">
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters080.impl.SwConverter"
            enabled="true"
            id="converters.080.sw"
            input-model-version="0.7.2"
            name="sw"
            output-model-version="0.8.0">
         <dependent-on-converter
               id="converters.080.rootElement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters080.impl.MappingConverter"
            enabled="true"
            id="converters.080.mapping"
            input-model-version="0.7.2"
            name="mapping"
            output-model-version="0.8.0">
         <dependent-on-converter
               id="converters.080.rootElement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters080.impl.PropertyConstraintsConverter"
            enabled="true"
            id="converters.080.propertyconstraints"
            input-model-version="0.7.2"
            name="property constraints"
            output-model-version="0.8.0">
         <dependent-on-converter
               id="converters.080.rootElement">
         </dependent-on-converter>
      </converter>
      <converter
            converter-class="org.eclipse.app4mc.amalthea.converters080.impl.OSConverter"
            enabled="true"
            id="converters.080.os"
            input-model-version="0.7.2"
            name="os"
            output-model-version="0.8.0">
         <dependent-on-converter
               id="converters.080.rootElement">
         </dependent-on-converter>
      </converter>
   </extension>

</plugin>
